
body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding-left: 1em;
    padding-top: 10px;
    padding-right: 1em;
}

.table-movies {
    display: table;
}
.table-movies > div {
    display: table-row
}
.table-movies > div > div {
    display: table-cell;
}
.table-movies > div:nth-child(even) > div {
    background: #eaeaea;
}